<div class="dropdown group-dropdown">
  <i class="fas fa-cog dropdown-toggle" data-toggle="dropdown"></i>
  <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
    <% if current_user.group_admin?(@group) %>
      <li>
        <a data-toggle="modal" data-target="#addMemberModal">
          <i class='fa fa-plus-circle'></i> Add member
        </a>
      </li>
      <li>
        <a id="removeAMemberBtn"><i class="fa fa-times"> </i> Remove member</a>
      </li>
    <% end %>
    <li>
      <%= link_to group_group_member_path(@group, current_user), method: :delete do %>
        <p><i class="fa fa-trash"></i> Leave group</p>
      <% end %>
    </li>
  </ul>
</div>
