<div class="modal fade" id="removeMemberModal" tabindex="-1" role="dialog" aria-labelledby="addMemberModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeMemberModalLabel">Remove a member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([group_id: group.id, id: group_member.id], method: :delete) do |f| %>

        <%= f.association :member, as: :check_boxes, collection: User.select{ |u| group.is_a_member?(u) }.sort{ |x, y| x.first_name <=> y.first_name }, label_method: :full_name, value_method: :id %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Remove", class: 'btn btn-primary' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
