// Retrieve status
const status = '<%= @friendship.status.capitalize %>!';

// Update the dropdown box
var friendRequest = document.querySelector("#friend-request-response-<%= @friendship.id %>");
const newText = "<a href='javascript:void(0)'>" + status + "</a>";
friendRequest.innerHTML = newText;

// Update notification badge on btn in navbar
const notification = document.querySelector("#friend-request-notification");
var counter = parseInt(notification.innerText);

if (counter - 1 == 0) {
  notification.remove();
} else {
  notification.innerText = counter - 1;
}

// Update request btn on user profile page, if necessary
var friendRequestProfileBtn = document.querySelector("#friend-request-profile-btn");
friendRequestProfileBtn.innerText = status;
