.admin-badge {
  border: 1px solid $green;
  border-radius: 5px;
  color: $green;
  font-size: 10px;
  margin-left: 5px;
  padding: 2px;
}

.notification-badge {
  background-color: red;
  color: white;
  font-size: 8px;
  position: absolute;
  top: -4px;
  width: 10px;
  text-align: center;
  left: 15px;
  border-radius: 10px;
  opacity: 0.8;
}
