.devise-form {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid grey;
}

.devise-links {
  font-size: 15px;
  opacity: 0.8;
}

.form-label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
}
