.group-card {
  min-height: 100px;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover {
    opacity: 0.7;
  }
}

.group-card-content {
  p {
    margin: 0px;
  }
}

.new-group {
  border: 5px dashed #2B82CD;
  color: black;
  &:hover {
    color: $gray;
  }
}
